---
layout: index
title: Capture the Narrative
subTitle: IT'S YOUR TURN TO DRIVE THE DISCOURSE
---
<!-- About Section -->
<section id="about">
  <!--<div class="content-section-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center fun-title"><span class="fun-title-red angle-some">ABOUT THE COMPETITION</span></h2>
          </div>
        </div>
      </div>
    </div>-->

  <div class="content-section-b">
    <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="site-page-content">
          <span style="font-size: 30rem; position: absolute; top: -160px; left: -40px; color: #e28787; font-family: serif; z-index: 1;">&ldquo;</span>
          <h3 style="position: relative; z-index: 2;">AI BOTS CAN BE MISUSED TO MANIPULATE SOCIAL MEDIA.</h3>
        
        <p>Capture the Flag competitions are a staple in the cybersecurity community. Capture the Narrative (CTN) 
          takes this concept to a new level.</p>

        <p>Through a controlled, artificial social media landscape, competitors will be charged with the manipulation of 
          social media narratives by developing and deploying bots that amplify and suppress target messages.</p>
          
        <h3>CAPTURE THE NARRATIVE SIMULATES REAL-WORLD DISINFORMATION.</h3>

        <p>Capture the Narrative provides interactive insights into how social media platforms can be manipulated, 
          raising awareness of the potential for abuse and the importance of digital cyberliteracy.</p>
      </div>
    </div>
  </div>
  </div>  
</section>

<section id="contest">
<!-- Page Content -->
    <div class="content-section-header-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center fun-title"><span class="fun-title-blue">HOW TO PLAY</span></h2>
          </div>
        </div>
      </div>
    </div>
{% for post in site.posts reversed %}
  {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% if thecycle == 'even' %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                  <div class="site-page-content">
                    <h3 class="section-heading">{{ post.title }}</h3>
                    <div class="lead">{{ post.content }}</div>
                  </div>
                </div>
                <div class="col-lg-4 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    {% else %}

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                  <div class="site-page-content">
                    <h3 class="section-heading">{{ post.title }}</h3>
                    <div class="lead">{{ post.content }}</div>
                    </div>
                </div>
                <div class="col-lg-4 col-lg-offset-2 col-sm-pull-6 col-sm-6">
                  <img class="img-responsive" src="img/services/{{ post.img }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    {% endif %}
{% endfor %}
</section>
<section id="contest-timeline">
 <div class="content-section-header-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center fun-title"><span class="fun-title-red">COMPETITION TIMELINE</span></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container content-section-b">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="site-page-content">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Event</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Friday September 19, 2025</td>
                  <td>Launch webinar. Start of contest</td>
                </tr>
                <tr>
                  <td>Friday September 26, 2025</td>
                  <td>End of week1</td>
                </tr>
                <tr>
                  <td>Friday October 3, 2025</td>
                  <td>End of week2</td>
                </tr>
                <tr>
                  <td>Friday October 10, 2025</td>
                  <td>End of week3</td>
                </tr>
                <tr>
                  <td>Friday October 17, 2025</td>
                  <td>End of contest, finalists announced (and contacted)</td>
                </tr>
                <tr>
                  <td>Friday October 31, 2025</td>
                  <td>Prizegiving event in Sydney, NSW</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

</section>

<section id="signup">
	<div class="content-section-header-b">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center fun-title"><span class="fun-title-blue">SIGN UP</span></h2>
          </div>
        </div>
      </div>
    </div>
	<div class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-3">
					<div class="site-page-content">
						<h3>JOIN OUR DISCORD</h3>
						<p class="lead">To sign up to the competition, please <a class="btn btn-primary" href="https://discord.gg/pjAA48Tj">join our Discord server</a>.</p>
						
						<p>This will be used to provide more details and updates.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>
<!-- /.banner -->

<section id="sponsors">
<!-- Page Content -->
    <div class="content-section-header-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center fun-title"><span class="fun-title-red">COMPETITION SUPPORTERS</span></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container content-section-b">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-2 text-center">
          <div class="sponsor-entry site-page-content">
            <img src="/img/mcsaatchi_ws_logo.png" alt="M&C Saatchi World Services Logo" style="max-width: 200px;">
          </div>
        </div>
        <div class="col-sm-4 text-center">
          <div class="sponsor-entry site-page-content">
            <img src="/img/doai_logo.png" alt="Day of AI Australia Logo" style="max-width: 80px;">
          </div>
        </div>
      </div>
    </div>

</section>