<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- UNSW logo -->
            <img class="navbar-brand" src="{{ site.baseurl }}/img/unsw-logo.png" alt="UNSW Logo" style="height: 64px; width: auto; margin:3px; padding:3px;">
            <!-- IFCYBER logo -->
            <img class="navbar-brand" src="{{ site.baseurl }}/img/unsw-ifcyber-logo.png" alt="IFCYBER Logo" style="height: 64px; width: auto; margin:3px; padding:3px;">
            <!-- Site title -->
            {%if include.type == "sitepage"%}<a class="navbar-brand page-scroll navbar-brand-ctn collapse navbar-collapse" href="/">Capture the Narrative</a>{% endif %}
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">  
                <li>
                    <a class="page-scroll" href="{%if include.type == "sitepage"%}{{ site.baseurl }}/{%endif%}">Home</a>
                </li> 
            	<!--<li>
                    <a class="page-scroll" href="{%if include.type == "sitepage"%}{{ site.baseurl }}/{%endif%}#about">About</a>
                </li>     -->       
                <!-- <li>
                    <a class="page-scroll" href="{%if include.type == "sitepage"%}{{ site.baseurl }}/{%endif%}#contest">Contest</a>
                </li> -->
                <li>
                    <a class="page-scroll" href="{%if include.type == "sitepage"%}{{ site.baseurl }}/{%endif%}#signup">Sign up</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/rules">Rules</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/ethics">Ethics</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/prizegiving">Prizegiving</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/setting">Setting</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/organisers">Our Team</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
