<section id="home">
<!-- Header -->
	<div class="intro-header">

		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<img src="img/ctn-logo.png" alt="Capture the Narrative Logo" class="img-responsive center-block intro-logo">
						<h2><span class="fun-title-blue angle-some">{{ page.subTitle }}</span></h2>
						<ul class="list-inline intro-social-buttons">
							<li>
								<a href="https://discord.gg/pjAA48Tj" class="btn btn-default btn-fun btn-lg">SIGN UP</a>
							</li>
							{% for social in site.social %}
							<li>
								<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>