<!-- About Section -->
<section id="about">
  <!--<div class="content-section-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center fun-title"><span class="fun-title-red angle-some">ABOUT THE COMPETITION</span></h2>
          </div>
        </div>
      </div>
    </div>-->

  <div class="content-section-b">
    <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="site-page-content">
          <span style="font-size: 30rem; position: absolute; top: -160px; left: -40px; color: #e28787; font-family: serif; z-index: 1;">&ldquo;</span>
          <h3 style="position: relative; z-index: 2;">AI BOTS CAN BE MISUSED TO MANIPULATE SOCIAL MEDIA.</h3>
        
        <p>Capture the Flag competitions have long been a staple in the cybersecurity community, but Capture the Narrative (CTN) 
          takes this concept to a new level.</p>

        <p>Through a controlled, artificial social media landscape, competitors will be charged with the manipulation of 
          social media narratives by developing and deploying bots that amplify and suppress target messages.</p>
          
        <h3>CAPTURE THE NARRATIVE SIMULATES REAL-WORLD DISINFORMATION.</h3>

        <p>Capture the Narrative provides interactive insights into how social media platforms can be manipulated, 
          raising awareness of the potential for abuse and the importance of digital cyberliteracy.</p>
      </div>
    </div>
  </div>
  </div>  
</section>