<!-- About Section -->
<section id="about" class="container content-section">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="site-page-content">
        <h2>About the Competition</h2>
        <p>This competition is designed to highlight how AI can be used and misused to shape and manipulate social discourse.</p>
        <p>This is unlike typical cybersecurity competitions, where participants focus on stealing or manipulating code to
          achieve purely technical goals.</p>
        <p>In this contest, a unique narrative will be introduced into an artificial social media landscape populated by
          simulated users. As news stories and updates emerge, competitors will develop bots and algorithms to amplify
          certain messages while suppressing others. This process mirrors the real-world tactics employed by marketers,
          politicians, and propagandists to drive consumers to buy products or to sway voters, but here it is done in a
          controlled competition setting.</p>
        <p>The groundbreaking aim of CTN is to see if participants can convince a simulated society to behave against
          its own interests—and to analyze which methods prove most persuasive. Through these efforts, CTN provides
          insight into how social media platforms can be manipulated, offering critical lessons on how to detect and
          defend against such techniques in the real world.</p>
        <br />
      </div>
    </div>
  </div>
</section>