<section id="signup">
	<div class="content-section-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center fun-title"><span class="fun-title-blue angle-some">SIGN UP</span></h2>
          </div>
        </div>
      </div>
    </div>
	<div class="content-section-a">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-3">
					<div class="site-page-content">
						<h3>JOIN OUR DISCORD</h3>
						<p class="lead">To sign up to the competition, please <a class="btn btn-success" href="https://discord.gg/pjAA48Tj">join our Discord server</a>.</p>
						
						<p>This will be used to provide more details and updates.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>
<!-- /.banner -->