<section id="sponsors">
<!-- Page Content -->
    <div class="content-section-header-a">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2 class="text-center fun-title"><span class="fun-title-red angle-less">COMPETITION SUPPORTERS</span></h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container content-section-b">
      <div class="row">
        <div class="col-md-6 text-center">
          <div class="sponsor-entry site-page-content">
            <h3>M&amp;C Saatchi World Services</h3>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <div class="sponsor-entry site-page-content">
            <h3>Day of AI Australia</h3>
          </div>
        </div>
      </div>
    </div>

</section>