<section id="home">
<!-- Header -->
	<div class="intro-header-subdued">

		<div class="container">

			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <h1><span class="fun-title-blue-sd fun-title-more-padding angle-some">{{ page.title }}</span></h1>
                    <h3><span class="fun-title-red-sd fun-title-more-padding angle-less">{{ page.subTitle }}</span></h3>					
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
</section>